@page "/product/{slug}"
@using MyBlazor.Libraries.Product;
@using MyBlazor.Libraries.Product.Models;
@using MyBlazor.Libraries.ShoppingCart;
@using MyBlazor.Libraries.ShoppingCart.Models;
@using MyBlazorEshop.Shared.Models
@using MyEshopLibraries.Shared.ShoppingCart.Models;
@using System.Text;
@using System.Text.Json;

@inject HttpClient _httpClient
@inject NavigationManager navigationManager;
@inject IConfiguration configuration
@inject ILoggerFactory LoggerFactory

@if (Product != null)
{
    <PageTitle>@Product.Name</PageTitle>
    <HeadContent>
        <meta name="description" content="@Product.Name" />
    </HeadContent>
}


@if (Product == null)
{
    <div class="alert alert-warning">
        <h2>محصول مورد نظر پیدا نشد</h2>
    </div>
}
else
{
    <div class="row">
        <div class="col-3">
            <img src="/Images/@Product.Image" class="img-thumbnail" style="width:100%" />
        </div>
        <div class="col-9">
            <h2>@Product.Name</h2>
            <hr />
            <p class="text-success">قیمت : @Product.Price $</p>
            <div class="row m-3">
                @if (HasProductInCart)
                {
                    <p>اقلام موجود در سبد خرید : @productAddToCartModel.Quantity می باشد</p>
                }
                <EditForm Model="productAddToCartModel" OnValidSubmit="AddToCartAsync">
                    <div class="col-4">

                        <DataAnnotationsValidator />
                        <ValidationMessage For="() => productAddToCartModel.Quantity" />
                        <InputNumber @bind-Value="productAddToCartModel.Quantity" class="form-control" placeholder="تعداد؟" />
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-primary">
                            @if (HasProductInCart)
                            {
                                <span>
                                    اضافه به سبد خرید
                                    @if (productAddToCartModel.Quantity.HasValue)
                                    {
                                        <text>@productAddToCartModel.Quantity بیشترش کن</text>
                                    }
                                </span>
                            }
                            else
                            {
                                <span>
                                    اولین خریدت رو انجام بده
                                </span>
                            }
                        </button>
                    </div>



                </EditForm>
            </div>
            <ul>
                @foreach (var product in ListProduct)
                {
                    <li>
                        <a href="@product.FullUrl">
                            @product.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}






@code {
    public ProductModel? Product { get; set; }

    private bool HasProductInCart { get; set; }

    public IList<ProductModel>? ListProduct { get; set; }



    [Parameter]
    public string? slug { get; set; }

    ProductAddToCartModel productAddToCartModel = new ProductAddToCartModel();

    [CascadingParameter(Name = "ShoppingCartCountModel")]
    private ShoppingCartCountModel? shoppingCartCountModel { get; set; }
}

@functions
{
    protected override async Task OnInitializedAsync()
    {
        ListProduct = await _httpClient.GetFromJsonAsync<IList<ProductModel>>(
            "/api/product");
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(slug))
        {
            Product = await _httpClient.GetFromJsonAsync<ProductModel>(
                "/api/product/by-slug/" + slug);
            var logger = LoggerFactory.CreateLogger<ProductDetails>();
            var logger1 = LoggerFactory.CreateLogger<ProductModel>();
            logger.LogInformation("Product is set");
            logger1.LogInformation("ProductModel");
            if (Product != null)
            {
                HasProductInCart = await _httpClient.GetFromJsonAsync<bool>(
                    "/api/ShoppingCart/has-product/" + Product.Sku
                    );
            }
        }

    }

    private async Task AddToCartAsync()
    {
        if (Product != null)
        {
            if (!HasProductInCart)
            {
                var request = new HttpRequestMessage(HttpMethod.Post, "/api/ShoppingCart");
                request.Headers.Add("Authorization", Configuration.GetValue<string>("ApiKey"));
                request.Content = new StringContent(
                    JsonSerializer.Serialize(
                        new ShoppingCartAddModel
                            {
                                ProductSku = Product.Sku,
                                Quantity = productAddToCartModel ?? 1
                            }
                    ), Encoding.UTF8, "application/json");
                await _httpClient.SendAsync(request);
                //tabdil object be json = serialize

            }
            else
            {

                var request = new HttpRequestMessage(HttpMethod.Put, "/api/ShoppingCart");
                request.Headers.Add("Authorization", Configuration.GetValue<string>("ApiKey"));
                request.Content = new StringContent(
                    JsonSerializer.Serialize(
                        new ShoppingCartAddModel
                            {
                                ProductSku = Product.Sku,
                                Quantity = productAddToCartModel ?? 1
                            }
                    ), Encoding.UTF8, "application/json");
                await _httpClient.SendAsync(request);
                //tabdil object be json = serialize
            }
            HasProductInCart = await _httpClient.GetFromJsonAsync<bool>(
                "/api/ShoppingCart/has-product/" + Product.Sku
                );

            productAddToCartModel.Quantity = null;

            if (shoppingCartCountModel != null)
            {
                shoppingCartCountModel.OnCountChange();
            }
        }
        navigationManager.NavigateTo("/cart");
    }
}
