@page "/cart"
@using MyBlazor.Component;
@using MyBlazor.Libraries.ShoppingCart;
@using MyBlazor.Libraries.ShoppingCartService.Models;
@using MyBlazorApp.Components;
@using MyBlazorApp.Shared.Template
@inject IShoppingCartService shoppingCartService


<PageTitle>سبد خرید</PageTitle>
<div class="row">
    <TableTemplate HeaderNames="@TableHeaderNames">
        <RowTemplate>
            @foreach (var item in shoppingCartService.Get().Items)
            {
                <tr>
                    <td colspan="2">
                        <img src="/Images/@item.Product.Image" style="max-width:120px" class="card-img-top" alt="...">
                    </td>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@item.TotalPrice</td>
                    <td>
                        <button class="btn btn-outline-danger" @onclick="() => DeleteItem(item)">X</button>
                    </td>
                </tr>
            }
        </RowTemplate>
    </TableTemplate>
   @* <table class="table table-bordered table-striped">
        <tr>
            <th>تصویر</th>
            <th>نام</th>
            <th>تعداد</th>
            <th>قیمت</th>
            <th>جمع</th>
            <th>#</th>
        </tr>
        @foreach (var item in shoppingCartService.Get().Items)
        {
            <tr>
                <td>
                    <img src="/Images/@item.Product.Image" style="max-width:120px" class="card-img-top" alt="...">
                </td>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@item.TotalPrice</td>
                <td>
                    <button class="btn btn-outline-danger" @onclick="() => DeleteItem(item)">X</button>
                </td>
            </tr>
        }
    </table>*@
</div>

@code
{
    [CascadingParameter(Name = "ShoppingCartCountModel")]
    private ShoppingCartCountModel? shoppingCartCountModel { get; set; }


    List<TableHeaderName> TableHeaderNames = new()
    {
        new TableHeaderName("تصویر",2),
        new TableHeaderName("نام",1),
        new TableHeaderName("تعداد",1),
        new TableHeaderName("قیمت",1),
        new TableHeaderName("جمع",1),
        new TableHeaderName("دستورات",1)
    };
}

@functions {
    private void DeleteItem(ShoppingCartItemModel item)
    {
        shoppingCartService.DeleteProduct(item);

        if (shoppingCartCountModel != null)
        {
            shoppingCartCountModel.OnCountChange();
        }
    }
}